/************************************Reset Css  Start ******************************/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

label {
  display: block;
  position: relative;
}

img {
  max-width: 100%;
  display: block;
  font-size: 0;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote,
q {

  &:before,
  &:after {
    content: "";
    content: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

svg {
  display: block;
  line-height: 0;
}

input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Reset  End HERE*/

/* =============================================================fonts ================================================*/
@font-face {
  font-family: "CreatoDisplay";
  src: url("../fonts/CreatoDisplay-Bold.otf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CreatoDisplay-medium";
  src: url("../fonts/CreatoDisplay-Medium.otf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CreatoDisplay";
  src: url("../fonts/CreatoDisplay-Regular.otf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/* fonts end here  */

/* ==========================================================variable ============================================================== */
:root {

  --main-white: 255, 255, 255;
  --body-bg: #F4F4F4;


  --container-background: 243, 245, 247;
  --active-approved-green-bg: 237, 254, 244;
  --table-border-gradient: linear-gradient(90deg, rgba(156, 163, 175, 1) 0%, rgba(156, 163, 175, 1) 100%, rgba(156, 163, 175, 1) 0%);
  --inActive-bg: 255, 241, 232;

  --light-gray: 156, 163, 175;

  --text-primary: 17, 24, 39;
  --blue-text: 88, 63, 255;

  --active-approved-green-text: 0, 186, 0;
  --inActive-text: 213, 87, 5;
}

/* ===============================================================typography =========================================================================================================== */

h2 {
  font-family: "CreatoDisplay";
  font-weight: 700;
  font-size: 25px;
  color: rgba(var(--text-primary), 1);
  Line-height: 100%;
}

h3 {
  font-family: "CreatoDisplay";
  font-weight: 700;
  font-size: 20px;
}

p {
  font-size: 16px;
  font-family: "CreatoDisplay";
}

/* ===============================================================Buttons===================================================== */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  font-size: 14px;
  font-family: "CreatoDisplay";
  font-weight: 700;
  border-radius: 54px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

.btn-secondary {
  color: rgba(var(--main-white), 1);
  background: rgba(var(--text-primary), 1);
}

.btn-white {
  background: rgba(var(--main-white), 1);
}

.btn-white:hover,
.btn-white:active,
.btn-white.active {
  color: rgba(var(--main-white), 1);
  background: rgba(var(--blue-text), 1);
}


.btn-primary {
  color: rgba(var(--main-white), 1);
  background: rgba(var(--blue-text), 1);
}

.btn-gray {
  color: rgba(var(--text-primary), 1);
  background: rgba(var(--light-gray), 0.16);
}

.btn-delete {
  color: rgba(var(--text-primary), 1);
  background: rgba(var(--main-white), 1);
  border: 1px solid rgba(var(--light-gray), 0.8);
}

.btn-disable {
  color: rgba(var(--main-white), 1);
  background: rgba(var(--light-gray), 1);
}

.btn-active {
  color: rgba(var(--active-approved-green-text), 1);
  padding: 10px 20px;
  border-radius: 42px;
  background: rgba(var(--active-approved-green-bg), 1);
  border: 1px solid rgba(var(--active-approved-green-text), 1);
}

.btn-inactive {
  color: rgba(var(--inActive-text), 1);
  padding: 10px 20px;
  border-radius: 42px;
  background: rgba(var(--inActive-bg), 1);
  font-family: "CreatoDisplay";
  font-weight: 500;
  font-size: 13px;
  border: 1px solid rgba(var(--inActive-text), 1);
}

.btn-arrow {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  background: rgba(var(--text-primary), 1);
  color: rgba(var(--main-white), 1);
}

/* =========================================================Table=============================================================== */
.table-container {
  margin-top: 20px;
  overflow-x: auto;
  width: 100%;
}

.table-container table {
  width: 1390px;
  border-collapse: collapse;
  border: none;
}

.table-container table thead {
  background: rgba(var(--text-primary), 1);
  color: rgba(var(--main-white));

}

.table-container table thead th,
.table-container table tbody td {
  font-family: "CreatoDisplay";
  font-size: 13px;
  text-align: start;
}

.table-container table thead th {
  font-weight: 700;
  padding: 18px 20px;
}

.table-container table tbody td {
  font-weight: 500;
  color: rgba(var(--text-primary), 1);
  padding: 15px 24px;
  border-bottom: 1px solid rgba(var(--light-gray), 0.4);
  border-top: 1px solid rgba(var(--light-gray), 0.4);
}

/*================================================================ forms========================================================================================== */

/* .select-group label {
  font-size: 14px;
  font-family: "creatodisplay-medium";
  line-height: 16px;
  color: rgba(var(--primary-text), 1);
}

.select-group .custom-select {
  width: 100%;
  padding: 20px 24px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 39px;
  border: 1px solid rgba(var(--borders), 0.4);
  margin-top: 11px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  right: 24px;
  top: 70%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("/assets/images/dropdown.svg");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
} */

.select {
  position: relative;
  width: 220px;
  font-family: "CreatoDisplay-medium";
}

.select-label {
  display: block;
  margin: 0 0 15px 10px;
  font-size: 14px;
}

.select-box {
  border: 1px solid rgba(156, 163, 175, 0.8);
  border-radius: 40px;
  padding: 17px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
  background: rgba(255, 255, 255, 1);
}

.arrow {
  transition: 0.2s;
}

.arrow.rotate {
  transform: rotate(180deg);
}


.select-dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background: white;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  font-size: 13px;
  z-index: 10;
}

.dropdown-header {
  background: #0b1f3a;
  color: white;
  padding: 13px 17px;
}

.dropdown-list {
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-item {
  cursor: pointer;
  border-top: 1px solid rgba(156, 163, 175, 0.4);
  padding: 13px 17px;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  background: #f2f2f2;
}

/* ================================================================models======================================================================= */


/* ===============================================================global================================================================== */
body {
  background-color: var(--body-bg);
}

.container-fluid {
  width: 100%;
  margin: 0 auto;

}

.container-fluid {
  padding: 0px 25px;
}

.container {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
  height: auto;
  padding: 0px;
}


@media (max-width: 1440px) {
  .container {
    max-width: 1390px;
  }
}

/* 1200px */
@media (max-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

/* 1024px */
@media (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

/* 992px */
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

/* 768px */
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 12px;
  }
}

/* *************** header *******************/

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  background-color: white;
  padding: 25px;
  border-radius: 50%;
}

.hamburger span {
  width: 30px;
  height: 5px;
  background: rgb(76, 74, 74);
  transition: 0.3s;
  border-radius: 10px;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}


.header {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo img {
  height: 52px;
  width: 186px;
  object-fit: contain;
}

.header .nav-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "CreatoDisplay";
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(var(--text-primary), 1);
}

.header .nav-wrapper .nav {
  display: flex;
  align-items: center;
  border-radius: 56px;
  padding: 10px;
  background: rgba(var(--main-white));

}

.header .nav-wrapper .nav .nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  font-size: 14px;
  font-weight: 500;
}

.header .nav-wrapper .nav .nav-item.active {
  background: rgba(17, 24, 39, 1);
  color: rgba(var(--main-white));
  border-radius: 54px;
}

.header .nav-wrapper .actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header .nav-wrapper .actions .settings-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 26px 32px;
  border-radius: 54px;
  background: rgba(var(--main-white));
}

.header .nav-wrapper .actions .icon {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background: rgba(var(--main-white));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.header .nav-wrapper .actions .icon img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.header .nav-wrapper .actions .icon .dot {
  position: absolute;
  top: 19px;
  right: 21px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(88, 63, 255, 1);
  box-shadow: 0 0 0 1.5px #fff;
}

@media(max-width:1300px){
   
  .hamburger {
    display: flex;
  }

  .header .nav-wrapper .nav {
    display: none;
  }
  .header .nav-wrapper .nav.show {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: absolute;
    top: 106px;
    left: 15px;
    background: #fff;
    border-radius: 40px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
   
  }
  .header .nav-wrapper .nav .nav-item {
     border-bottom: 1px solid rgb(188, 181, 181);
     width: 100%;
}
  .header .nav-wrapper .nav .nav-item:last-child {
  border-bottom: none;
}

}
@media(max-width:767px){
    .header .nav-wrapper .actions .settings-btn span {
    display: none;
  }
  .header .nav-wrapper .actions .icon {

}
}
@media (max-width: 768px) {
   .header .nav-wrapper .actions {
    display: none;
  }
}
/* =================login-page==================== */

.login-container{
  padding: 51px 60px;
  margin: 0 auto;
  width: 1320px;
  max-width: 100%;
}
.login-container .login{
  width: 100%;
  background: rgba(var(--main-white));
  border-radius: 57px;
  padding: 56px;
  margin: 0 auto;
  box-shadow: 0px 13px 20px 0px rgba(var(--text-primary) 0.08);

  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.login-container .login .login-left{
  
  max-width: 586px;
  width: 100%;
  border-radius: 57px;
  padding: 60px;
  height:810px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.login-container .login .login-left .login-text{
  max-width: 439px;
  padding-top: 10px;
}
.login-container .login .login-left .login-text h1{
  font-family: "CreatoDisplay";
  font-weight: 700;
  font-size: 54px;
  color: rgba(var(--main-white),1);
  line-height: 69px;
}
.login-container .login .login-left .login-text h1 .highlight {
  position: relative;
  display: inline-block;
}
.login-container .login .login-left .login-text h1 .highlight .curve {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 15px;
}
.login-container .login .login-left .login-text p{
  padding-top: 30px;
  font-size: 16px;
  color: rgba(var(--main-white),1);
  line-height: 31px;

}

.login-container .login .login-right{
  max-width: 464px;
  width: 100%;
  padding-top: 42px;
  display:flex ;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.login-container .login .login-right .login-right-head{
  display:flex ;
  max-width: 330px;
  flex-direction: column;
  align-items: center;
}

.login-container .login .login-right .login-right-head h2{
  font-family: "CreatoDisplay";
  font-weight: 700;
  font-size: 36px;
  color: rgba(var(--text-primary),1);
  padding: 49px 0px 15px 0px;
}
.login-container .login .login-right .login-right-head p{
  font-size: 14px;
  color: rgba(var(--text-secondary),1);
  text-align: center;
  line-height: 25px;
}

.login-container .login .login-right .login-form {
  width: 100%;
  max-width: 464px;
}


.login-container .login .login-right .login-form .input-box {
  background: rgba(var( --light-gray),0.14);
  border-radius: 16px;

  display: flex;
  align-items: center;
  padding: 0 23px;
  margin-bottom: 20px;
  position: relative;
}

/* Input */
.login-container .login .login-right .login-form .input-box input {
  width: 100%;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 23px 0px;
  font-size: 16px;
  color: rgba(var(--text-primary),1);
  padding-left: 10px;
}

/* Placeholder */
.login-container .login .login-right .login-form .input-box input::placeholder {
  font-family: "CreatoDisplay";
  color: rgba(var(--light-gray),1);
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}
.login-container .login .login-right .login-form .input-box .input-icon .input-svg{
  width: 24px;
  height: 24px;
}
.login-container .login .login-right .login-form .input-box .input-icon .input-svg path {
  fill: #9ca3af;

}

.login-container .login .login-right .login-form .input-box:focus-within .input-svg path {
  fill:rgba(var(--blue-text),1);
}

.login-container .login .login-right .login-form .input-box .eye-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.login-container .login .login-right .login-form .input-box:focus-within{
  border: 1px solid rgba(var(--blue-text),1);
  background: rgba(var(--main-white),1);
}
.login-container .login .login-right .login-form .rules{
  padding:0px 0px 45px 8px;
}
.login-container .login .login-right .login-form .rules p{
  font-family: "CreatoDisplay";
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 15px;
  color: rgba(var(--text-primary),1);
}
.login-container .login .login-right .login-form .rules ul li{
  list-style-type: disc;
  list-style-position: inside;

  font-family: "CreatoDisplay";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(var(--text-secondary),1);
}
.login-container .login .login-right .login-form .login-btn{
  width: 100%;
  padding: 24px;
  border-radius: 16px;
  color: rgba(var(--main-white),1);
  background: rgba(var(--light-gray),1);
  cursor: pointer;
  font-family: "CreatoDisplay";
  font-weight: 700;
  font-size: 18px;
}
.login-container .login .login-right >span{
  font-family: "CreatoDisplay";
  font-weight: 400;
  font-size: 12px;
  color: rgba(var(--text-secondary),1);
  padding-top: 47px;
}

@media (max-width: 1325px) {
  .login-container {
    padding: 51px 40px;
}
.login-container .login .login-left .login-text h1 {
    font-size: 47px;
}

}
@media (max-width: 1200px){
.login-container .login {
    padding: 40px;
}
.login-container .login .login-left {
    padding: 35px;
    height: 740px;
}
.login-container .login .login-left .login-text h1 {
        font-size: 42px;
        line-height: 58px;
    }
.login-container .login .login-left .login-text p {
    font-size: 14px;
    line-height: 27px;
}
.login-container .login .login-right {
    padding-top: 35px;
}
.login-container .login .login-right .login-right-head h2 {
    font-size: 32px;
    padding: 40px 0px 10px 0px;
}
.login-container .login .login-right .login-right-head p {
    line-height: 20px;
}
.login-container .login .login-right .login-form .input-box {
    margin-bottom: 10px;
}
}
@media (max-width: 992px) {
  .login-container .login {
    justify-content: center;
  }

  .login-container .login .login-left {
    display: none;
  }

  .login-container .login .login-right {
    max-width: 100%;
  }
}
@media (max-width: 768px){
    .login-container {
        padding: 25px 0px;
    }
    .login-container .login {
        padding: 15px;
    }
}
@media (max-width:426px) {
  .container-fluid {
        padding: 0px 10px ;
    }
  .login-container {
        padding: 10px 0px;
    }
  .login-container .login .login-right .login-right-head h2 {
        font-size: 30px;
        padding: 25px 0px 10px 0px;
    }
    .login-container .login .login-right .login-right-head p {
        line-height: 20px;
        font-size: 12px;
    }
    .login-container .login .login-right {
        gap: 20px;
        padding-top: 0px;
    }
    .login-container .login .login-right >span {
        padding-top: 20px;
    }
    .login-container .login .login-right .login-form .rules {
        padding: 0px 0px 30px 8px;
    }
    .login-container .login .login-right .login-form .input-box {
        padding: 0px 10px;
    }
    .login-container .login .login-right .login-form .input-box .input-icon .input-svg {
        width: 20px;
        height: 20px;
    }
    .login-container .login .login-right .login-form .input-box input {
        padding: 18px 0px;
        font-size: 14px;
        padding-left: 5px;
    }
    .login-container .login .login-right .login-form .input-box .eye-icon {
        width: 20px;
        height: 20px;
      }
      .login-container .login .login-right .login-form .input-box input::placeholder {
        font-size: 14px;
      }
      .login-container .login .login-right .login-form .login-btn {
        padding: 20px;
        font-size: 15px;
    }
}
@media (max-width:376px){
      .login-container .login .login-right .login-form .rules {
        padding: 0px 0px 20px 8px;
    }
    .login-container .login .login-right >span {
        padding-top: 15px;
    }
}